.logo{
    max-width: 150px;
    height: auto;
    float: right;

}

.background-whole-page{
    background-color: black;
    color: rgb(129, 128, 128);
}
.main {color: red; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
}

.grid-container{
    display:grid;
    grid-template-areas:
        'header header header logo'
        'menu menu menu menu'
        'body body body stuff';
    border:black 5px solid;
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid-header{
    border: 1px red solid;
    grid-area: header;
    background-color: black;

}
.grid-header-logo{
    border: 1px red solid;
    grid-area: logo;
    background-color: black;

}
.grid-container-navigation{

    grid-area: menu;
    display: grid;
    grid-template-areas: 'button1 button2 button3';
    border:white 1px solid;
    height: 50px;
    background-color: red;
    width: 100%;
    text-align:center;

}
.button1{
    grid-area: button1;
    background-color: red;
    border: white solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button2{
    grid-area: button2;
    background-color: red;
    border: white solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button3{
    grid-area: button3;
    background-color: red;
    border: white solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.body{
    grid-area:body;
    border:pink solid 5px;
    padding: 5px;
}
.stuff{
    grid-area:stuff;
    border:red solid 5px;
    padding: 5px;
}

.internal-link{
    color:red;
}
